
<style>

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
    !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>


<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Models
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'margins' %}nea/">Feedstocks</a>
      <a href=" {% url 'margins' %}agi/">Product Slates</a>
      <a href=" {% url 'margins' %}sea/">Refined Products</a>
        <a href="{% url 'margins' %}">Refinery Processing Units</a>
    </div>
  </div>

  <div class="dropdown">
      <button class="dropbtn">Margins
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'margins' %}nea/">North East Asia</a>
      <a href=" {% url 'margins' %}agi/">Arabian Gulf & India </a>
      <a href=" {% url 'margins' %}sea/">South East Asia </a>
        <a href="{% url 'margins' %}">All</a>
    </div>
  </div>
   <a href="{% url 'admin:index' %}">Admin</a>
</div>